node basenode {
  $package_repo       = 'http://downloads.wso2.com'
  $depsync_svn_repo   = 'https://svn.wso2.com/wso2/repo/'
  $local_package_dir  = '/mnt/packs'
}

node confignode inherits basenode  {
  # Service subdomains
  $domain               = 'wso2.com'
  $as_subdomain         = 'appserver'
  $esb_subdomain        = 'esb'
  $management_subdomain = 'management'
 
  $admin_username       = 'admin'
  $admin_password       = 'admin123'
}
